<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">
  <h1>Stitch Has A Glitch!</h1>
  <img src="http://www.cornel1801.com/disney/Lilo-Stitch-2-2005/pictures/31.jpg" />
</main>
