.friend-bar {
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid $boxBorder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .friend-bar-name {
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
  }

  .friend-bar-icons {
    padding: 14px;

    // li {
    //   padding-right: 12px;
    // }
    .fa {
      color: $magenta;
      font-size: $fontSizeH2;
    }

    .fa:hover {
      color: $pink;
    }
  }
}
