.chat-view {
  .friend-details {
    width: 22vw;
    border-left: 1px solid $boxBorder;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    //padding-top: 14px; // maybe remove?

    .friend-details-header {
      border-bottom: 1px solid $boxBorder;
      box-sizing: border-box;
      height: 64px;
      // padding: 0 10px 0 12px;
      padding: 16px 14px; // 16px 14px;
      display: flex;
      align-items: center;
      // cursor: pointer;
      text-decoration: none;
      // position: sticky;
      top: 50px;
      background-color: #FFFFFF;

      #file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      img {
        display: block;
        height: 50px;
        width: 50px;
        margin-right: 4px;
        // margin-right: 0px;
        border-radius: 50%;
      }

      img:hover {
        cursor: pointer;
        background-color: $grey;
      }

      .friend-details-convo-name {
        padding: 5px;
        font-size: $fontSizeH3;
        flex: 1;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .friend-details-convo-name:hover {
        cursor: pointer;
        border: 1px solid $boxBorder;
      }

      .edit-convo-name:hover {
        cursor: text;
      }

      .fa {
        margin-left: 9px;
        color: $magenta;
        font-size: $fontSizeH2;
      }
    }

    .annie-links {
      border-bottom: 1px solid $boxBorder;
      height: 64px;
      padding: 16px 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 50px;
      color: $magenta;
      // position: sticky;
      top: 114px;
      background-color: #FFFFFF;

      a {
        padding: 5px;
        border-radius: 5px;
      }

      a:hover {
        color: $pink;
      }
    }

    .friend-details-users {
      display: flex;
      flex-direction: column;
      // overflow: scroll;
      // overflow-x: hidden;

      .friend-details-users-label {
        width: auto;
        height: 20px;
        padding: 14px;
        color: $darkgrey;
      }

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          min-width: 50px;
          margin: 6px 12px;
          border-radius: 50%;
        }

        .friend-details-username {

        }
      }
    }
  }
}
