.chat-view {
  display: flex;
  flex: 1;

  .chat-view-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
    .live-chat {
      flex: 1;
      padding: 12px;
      overflow: hidden scroll;
      border-bottom: 1px solid $boxBorder;

      .chat-msg {
        display: flex;
        margin-bottom: 15px;
        align-items: flex-end;

        .chat-msg-pic {
          display: inline;
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        .chat-msg-body {
          border: 1px solid $grey;
          border-radius: 1.3em;
          padding: 6px 12px;
          max-width: 50%;
          text-align: left;
        }

        .chat-msg-timestamp {
          position: relative;
          align-self: center;
          background-color: $black;
          color: $white;
          padding: 6px 12px;
          font-size: 12px;
          overflow: visible;
          border-radius: 0.3em;
          max-height: 100%;

          &:before {
            top: 50%;
            transform: translate(0, -50%);
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
          }
        }

        .hide {
          display: none;
        }
      }

      .chat-msg-align-left {
        flex-direction: row;

        .chat-msg-pic {
          margin-right: 4px;
        }

        .chat-msg-body-left {
          background-color: $grey;
        }

        .chat-msg-timestamp {
          margin-left: 6px;

          &:before {
            border-right: 5px solid $black;
            left: -5px;
          }
        }
      }

      .chat-msg-align-right {
        flex-direction: row-reverse;

        .chat-msg-pic {
          margin-left: 4px;
        }

        .chat-msg-body-right {
          background-color: $pink;
          color: #FFFFFF;
        }

        .chat-msg-timestamp {
          margin-right: 6px;

          &:before {
            border-left: 5px solid $black;
            right: -5px;
          }
        }
      }
    }

    .message-form {
      display: flex;
      border: none;

      textarea {
        font-size: 14px;
        font-weight: lighter;
        resize: none;
        flex-grow: 1;
        padding-top: 10px;
      }

      .fun-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 10px;

        .fa {
          padding: 10px;
          color: $magenta;
          font-size: $fontSizeH2;
        }

        .fa:hover {
          color: $pink;
        }
      }

      @media (max-width: 1275px) {
        flex-direction: column;
        margin: 9px 8px 0 12px;

        textarea {
          height: 17px;
          padding-top: 8px;
        }

        .fun-icons {
          padding: 8px 0;
          justify-content: space-between;

          .fa {
            padding: 6px;
          }
        }
      }
    }

    // messageAdditions area here
//   }
// }
