/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import url("https://fonts.googleapis.com/css?family=Poppins:200|Roboto:300,400");
/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
}

/* line 36, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 58, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  -webkit-rtl-ordering: none;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

/* line 77, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
textarea:focus,
button:focus {
  outline: 0;
}

/* line 22, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.holler {
  text-align: center;
}

/* line 28, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.logo {
  margin: 0 auto;
}

/* line 33, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.error {
  color: #ff0000;
  text-align: center;
}

/* line 38, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:hover {
  cursor: pointer;
}

/* line 42, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:focus {
  box-shadow: 0 0 1px 2px rgba(255, 109, 169, 0.75);
}

/* line 46, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:active {
  transform: scale(0.98);
  opacity: 0.2;
}

/* line 51, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* line 57, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* line 79, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* line 86, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
#file, #user-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 19, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3495739485374;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

/* line 31, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar {
  position: relative;
  width: 195px;
  margin: 49px auto 0;
  text-align: center;
}

/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-mouth {
  width: 39px;
  height: 10px;
  margin: 0 auto -1px;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}

/* line 49, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-neck {
  width: 34px;
  height: 46px;
  margin: 0 auto -7px;
  z-index: 7;
  position: relative;
  background-color: white;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

/* line 59, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-bubble {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ff6da9;
  opacity: 0.4;
  left: 90px;
  z-index: 8;
  top: 107px;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  animation: cssload-buble 2.3s linear 1.15s infinite;
  -o-animation: cssload-buble 2.3s linear 1.15s infinite;
  -ms-animation: cssload-buble 2.3s linear 1.15s infinite;
  -webkit-animation: cssload-buble 2.3s linear 1.15s infinite;
  -moz-animation: cssload-buble 2.3s linear 1.15s infinite;
}

/* line 80, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-bubble + .cssload-bubble {
  left: 85px;
  top: 117px;
  width: 15px;
  height: 15px;
  animation-duration: 3.45s;
  -o-animation-duration: 3.45s;
  -ms-animation-duration: 3.45s;
  -webkit-animation-duration: 3.45s;
  -moz-animation-duration: 3.45s;
}

/* line 91, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-base {
  margin: auto;
  width: 117px;
  height: 97px;
  border: 4px solid black;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

/* line 105, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-base .cssload-bubble {
  left: 15px;
  top: 49px;
  animation: cssload-bounce 2.65s linear 0s infinite alternate;
  -o-animation: cssload-bounce 2.65s linear 0s infinite alternate;
  -ms-animation: cssload-bounce 2.65s linear 0s infinite alternate;
  -webkit-animation: cssload-bounce 2.65s linear 0s infinite alternate;
  -moz-animation: cssload-bounce 2.65s linear 0s infinite alternate;
}

/* line 114, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-base .cssload-bubble + .cssload-bubble {
  left: 73px;
  top: 39px;
  animation-duration: 3.45s;
  -o-animation-duration: 3.45s;
  -ms-animation-duration: 3.45s;
  -webkit-animation-duration: 3.45s;
  -moz-animation-duration: 3.45s;
}

/* line 123, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-liquid {
  height: 39px;
  background-color: #ff6da9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 132, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-wave {
  width: 58px;
  height: 19px;
  position: absolute;
  background-color: #ff6da9;
  left: 0;
  top: 56px;
  animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  -o-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  -ms-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  -webkit-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  -moz-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/* line 151, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/loading-round-bottom-flask.scss */
.cssload-jar .cssload-wave + .cssload-wave {
  left: auto;
  right: 0;
}

@keyframes cssload-wave {
  from {
    transform: translateX(97px);
  }
  to {
    transform: translateX(-97px);
  }
}
@-o-keyframes cssload-wave {
  from {
    -o-transform: translateX(97px);
  }
  to {
    -o-transform: translateX(-97px);
  }
}
@-ms-keyframes cssload-wave {
  from {
    -ms-transform: translateX(97px);
  }
  to {
    -ms-transform: translateX(-97px);
  }
}
@-webkit-keyframes cssload-wave {
  from {
    -webkit-transform: translateX(97px);
  }
  to {
    -webkit-transform: translateX(-97px);
  }
}
@-moz-keyframes cssload-wave {
  from {
    -moz-transform: translateX(97px);
  }
  to {
    -moz-transform: translateX(-97px);
  }
}
@keyframes cssload-bounce {
  0% {
    transform: translate(5px, 15px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(-5px, -36px);
    opacity: 1;
  }
}
@-o-keyframes cssload-bounce {
  0% {
    -o-transform: translate(5px, 15px);
  }
  50% {
    -o-transform: translate(0, -15px);
  }
  100% {
    -o-transform: translate(-5px, -36px);
    opacity: 1;
  }
}
@-ms-keyframes cssload-bounce {
  0% {
    -ms-transform: translate(5px, 15px);
  }
  50% {
    -ms-transform: translate(0, -15px);
  }
  100% {
    -ms-transform: translate(-5px, -36px);
    opacity: 1;
  }
}
@-webkit-keyframes cssload-bounce {
  0% {
    -webkit-transform: translate(5px, 15px);
  }
  50% {
    -webkit-transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(-5px, -36px);
    opacity: 1;
  }
}
@-moz-keyframes cssload-bounce {
  0% {
    -moz-transform: translate(5px, 15px);
  }
  50% {
    -moz-transform: translate(0, -15px);
  }
  100% {
    -moz-transform: translate(-5px, -36px);
    opacity: 1;
  }
}
@keyframes cssload-buble {
  0% {
    transform: translate(3px, 10px);
  }
  25% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-3px, -24px);
  }
  75% {
    transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    transform: translate(3px, -97px);
    opacity: 0;
  }
}
@-o-keyframes cssload-buble {
  0% {
    -o-transform: translate(3px, 10px);
  }
  25% {
    -o-transform: translate(0, 0px);
  }
  50% {
    -o-transform: translate(-3px, -24px);
  }
  75% {
    -o-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -o-transform: translate(3px, -97px);
    opacity: 0;
  }
}
@-ms-keyframes cssload-buble {
  0% {
    -ms-transform: translate(3px, 10px);
  }
  25% {
    -ms-transform: translate(0, 0px);
  }
  50% {
    -ms-transform: translate(-3px, -24px);
  }
  75% {
    -ms-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(3px, -97px);
    opacity: 0;
  }
}
@-webkit-keyframes cssload-buble {
  0% {
    -webkit-transform: translate(3px, 10px);
  }
  25% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-3px, -24px);
  }
  75% {
    -webkit-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(3px, -97px);
    opacity: 0;
  }
}
@-moz-keyframes cssload-buble {
  0% {
    -moz-transform: translate(3px, 10px);
  }
  25% {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(-3px, -24px);
  }
  75% {
    -moz-transform: translate(0, -49px);
    opacity: 1;
  }
  100% {
    -moz-transform: translate(3px, -97px);
    opacity: 0;
  }
}
/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/reusables/popover.scss */
.popover {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  line-height: 1.28;
  z-index: 1;
  font-size: 14px;
}
/* line 12, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/reusables/popover.scss */
.popover.extended {
  visibility: visible;
}
/* line 16, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/reusables/popover.scss */
.popover.extended:before, .popover.extended:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

/* frontend/components/session_form/session_form.jsx */
/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-logo {
  width: 120px;
  height: auto;
}

/* line 8, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-holler {
  font-size: 40px;
  margin-bottom: 24px;
}

/* line 13, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
  background-image: url(https://i.imgur.com/ktvx0p2.jpg);
  background-position: right;
  background-size: cover;
}
/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box {
  width: 350px;
  height: auto;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}
/* line 32, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-text {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 24px;
  line-height: 1.2;
}
/* line 39, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-input, .login-form-container .login-form-box .login-button {
  height: 42px;
  width: 80%;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 16px;
  margin: 0 auto 12px auto;
}
/* line 48, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.75);
}
/* line 53, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button {
  color: #FFFFFF;
  background-color: #ff6da9;
  align-items: center;
  transition: 200ms;
  box-sizing: content-box;
}
/* line 61, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:hover {
  background-color: #97A7B3;
  cursor: pointer;
}
/* line 66, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:focus {
  box-shadow: 0 0 1px 2px rgba(255, 109, 169, 0.75);
}
/* line 70, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:active {
  transform: scale(0.98);
  opacity: 0.2;
}
/* line 75, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .demo {
  margin: 0 auto 24px auto;
}
/* line 81, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .annie-links {
  margin-left: 15vw;
  width: 350px;
  font-size: 40px;
  color: #97A7B3;
}
/* line 87, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .annie-links a {
  padding: 0 40px;
}
/* line 91, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .annie-links a:hover {
  color: #ff6da9;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.main-holler {
  font-size: 16px;
  font-weight: bold;
}

/* line 6, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 22vw;
  min-width: 22vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 15, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar {
  position: relative;
  margin: 12px;
  color: #97A7B3;
}
/* line 20, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar .fa {
  position: absolute;
  font-size: 12px;
  top: 9px;
  left: 8px;
}
/* line 27, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar .search-bar-input {
  display: block;
  width: 100%;
  padding: 0 28px;
  height: 30px;
  background-color: #f6f7f9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 50px;
  min-height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* line 14, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .main-holler {
  font: "Roboto";
  font-weight: 400;
}
/* line 19, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar i, .nav-col .nav-bar h2 {
  padding: 10px;
}
/* line 23, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .fa {
  color: #F092DD;
  font-size: 24px;
}
/* line 28, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown {
  top: 49px;
  left: 3px;
  padding: 5px 0;
  width: 11vw;
  min-width: 80px;
}
/* line 35, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown.extended:before {
  left: 12px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
}
/* line 43, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown.extended:after {
  left: 13px;
  top: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ffffff;
}
/* line 51, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown li {
  padding: 2px 24px;
  cursor: pointer;
}
/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown li:hover {
  color: #FFFFFF;
  background-color: #ff6da9;
}

/* line 2, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col {
  display: flex;
  flex-direction: column;
}
/* line 11, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list {
  flex: 1;
  overflow-y: scroll;
}
/* line 17, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item {
  height: 64px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
/* line 28, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-pic {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 9px;
  border-radius: 50%;
  min-width: 50px;
}
/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 42, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body .conversation-list-item-convo-name {
  font-weight: bolder;
  line-height: 1.4;
}
/* line 47, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body .conversation-list-item-last-msg {
  height: 18px;
  font-size: 13px;
  overflow: hidden;
}
/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .active, .nav-col .search-col .conversation-list .conversation-list-item:hover {
  background-color: #e9ebee;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 6, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar {
  height: 50px;
  padding: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}
/* line 17, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .search-bar-to {
  margin-right: 5px;
  font-size: 14px;
}
/* line 29, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .search-bar-input {
  font-size: 14px;
  font-weight: lighter;
  flex-grow: 1;
  padding: 0 8px;
}
/* line 39, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .compose-message {
  height: 24px;
  width: 200px;
  font-size: 14px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #F092DD;
  align-items: center;
  transition: 200ms;
  box-sizing: content-box;
}
/* line 52, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .compose-message:hover {
  background-color: #ff6da9;
  cursor: pointer;
}
/* line 58, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .compose-message:focus {
  box-shadow: 0 0 1px 2px rgba(255, 109, 169, 0.75);
}
/* line 62, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .compose-message:active {
  transform: scale(0.98);
  opacity: 0.2;
}
/* line 67, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .disabled,
.new-conversation .search-bar .disabled:hover,
.new-conversation .search-bar .disabled:focus,
.new-conversation .search-bar .disabled:active {
  background-color: #97A7B3;
  cursor: default;
  box-shadow: none;
  transform: none;
  opacity: 1;
}
/* line 79, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results {
  flex: 1;
  padding-top: 8px;
  overflow: hidden scroll;
}
/* line 84, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 8px 32px;
}
/* line 90, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
/* line 98, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li:hover, .new-conversation .search-users-results .selected-for-new-convo {
  background-color: #f1f0f0;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/chat_main.scss */
.chat-main {
  flex-grow: 1;
  height: 100vh;
}
/* line 5, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/chat_main.scss */
.chat-main .chat-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar {
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
/* line 13, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-name {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
/* line 19, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons {
  padding: 14px;
}
/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons .fa {
  color: #F092DD;
  font-size: 24px;
}
/* line 30, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons .fa:hover {
  color: #ff6da9;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.chat-view {
  display: flex;
  flex: 1;
}
/* line 5, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.chat-view .chat-view-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* line 11, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat {
  flex: 1;
  padding: 12px;
  overflow: hidden scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 17, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg {
  display: flex;
  margin-bottom: 15px;
  align-items: flex-end;
}
/* line 22, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg .chat-msg-pic {
  display: inline;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
/* line 29, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg .chat-msg-body {
  border: 1px solid #f1f0f0;
  border-radius: 1.3em;
  padding: 6px 12px;
  max-width: 50%;
  text-align: left;
}
/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg .chat-msg-timestamp {
  position: relative;
  align-self: center;
  background-color: #000000;
  color: #ffffff;
  padding: 6px 12px;
  font-size: 12px;
  overflow: visible;
  border-radius: 0.3em;
  max-height: 100%;
}
/* line 48, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg .chat-msg-timestamp:before {
  top: 50%;
  transform: translate(0, -50%);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg .hide {
  display: none;
}
/* line 61, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left {
  flex-direction: row;
}
/* line 64, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .chat-msg-pic {
  margin-right: 4px;
}
/* line 68, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .chat-msg-body-left {
  background-color: #f1f0f0;
}
/* line 72, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .chat-msg-timestamp {
  margin-left: 6px;
}
/* line 75, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .chat-msg-timestamp:before {
  border-right: 5px solid #000000;
  left: -5px;
}
/* line 82, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right {
  flex-direction: row-reverse;
}
/* line 85, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .chat-msg-pic {
  margin-left: 4px;
}
/* line 89, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .chat-msg-body-right {
  background-color: #ff6da9;
  color: #FFFFFF;
}
/* line 94, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .chat-msg-timestamp {
  margin-right: 6px;
}
/* line 97, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .chat-msg-timestamp:before {
  border-left: 5px solid #000000;
  right: -5px;
}

/* line 105, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form {
  display: flex;
  border: none;
}
/* line 109, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form textarea {
  font-size: 14px;
  font-weight: lighter;
  resize: none;
  flex-grow: 1;
  padding-top: 10px;
}
/* line 117, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}
/* line 123, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons .fa {
  padding: 10px;
  color: #F092DD;
  font-size: 24px;
}
/* line 129, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons .fa:hover {
  color: #ff6da9;
}
@media (max-width: 1275px) {
  /* line 105, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
  .message-form {
    flex-direction: column;
    margin: 9px 8px 0 12px;
  }
  /* line 138, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
  .message-form textarea {
    height: 17px;
    padding-top: 8px;
  }
  /* line 143, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
  .message-form .fun-icons {
    padding: 8px 0;
    justify-content: space-between;
  }
  /* line 147, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
  .message-form .fun-icons .fa {
    padding: 6px;
  }
}

/* line 2, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details {
  width: 22vw;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 10, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 64px;
  padding: 16px 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  top: 50px;
  background-color: #FFFFFF;
}
/* line 24, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header img {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 4px;
  border-radius: 50%;
}
/* line 32, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header img:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}
/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header .friend-details-convo-name {
  padding: 5px;
  font-size: 16px;
  flex: 1;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 47, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header .friend-details-convo-name:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 52, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header .edit-convo-name:hover {
  cursor: text;
}
/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header .fa {
  margin-left: 9px;
  color: #F092DD;
  font-size: 24px;
}
/* line 63, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 64px;
  padding: 16px 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  color: #F092DD;
  top: 114px;
  background-color: #FFFFFF;
}
/* line 75, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links a {
  padding: 5px;
  border-radius: 5px;
}
/* line 80, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links a:hover {
  color: #ff6da9;
}
/* line 85, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users-list {
  display: flex;
  flex-direction: column;
}
/* line 89, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users-list .friend-details-users-label {
  width: auto;
  height: 20px;
  padding: 14px;
  color: #97A7B3;
}
/* line 96, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users-list .friend-details-users {
  flex: 1;
  overflow: hidden scroll;
}
/* line 100, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users-list .friend-details-users li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 105, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users-list .friend-details-users li img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin: 6px 12px;
  border-radius: 50%;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  bottom: 50px;
  padding: 1px 0;
  align-items: center;
}
/* line 10, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search {
  position: relative;
  width: 100%;
  padding: 5px;
  color: #97A7B3;
}
/* line 16, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa {
  position: absolute;
  font-size: 12px;
}
/* line 21, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa-search {
  top: 4px;
}
/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .expressions-search-input {
  display: block;
  width: 100%;
  padding: 0 28px;
  height: 30px;
  background-color: #f6f7f9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 36, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa-plus, .expressions-container .expressions-search .fa-times-circle {
  top: 3px;
  color: #F092DD;
  font-size: 14px;
}
/* line 42, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa-plus {
  right: 27px;
}
/* line 46, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa-times-circle {
  right: 8px;
}
/* line 50, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .expressions-search .fa-plus:hover, .expressions-container .expressions-search .fa-times-circle:hover {
  color: #ff6da9;
}
/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .display-expressions {
  flex: 1;
  max-width: 100%;
  overflow: hidden scroll;
  height: 150px;
}
/* line 62, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container .display-expressions li img {
  width: 100%;
  padding: 1px 2px;
  cursor: pointer;
}
/* line 69, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.extended:before {
  bottom: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.2);
}
/* line 78, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.extended:after {
  bottom: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff;
}
/* line 87, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.sticky.extended:before {
  left: 12px;
}
/* line 91, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.sticky.extended:after {
  left: 13px;
}
/* line 97, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.giphy.extended:before {
  left: 53px;
}
/* line 101, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.expressions-container.giphy.extended:after {
  left: 54px;
}

/* line 107, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
body {
  max-width: 100vw;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/footer.scss */
.footer {
  z-index: 1;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 12, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 6px;
  width: 50vw;
}
/* line 20, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .user-profile-nav {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 27, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .user-profile-nav label {
  font-weight: 700;
}
/* line 31, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .user-profile-nav .user-profile-settings {
  padding: 0 0 0 16px;
  flex: 1;
  text-align: center;
}
/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .user-profile-nav .user-profile-done {
  padding: 0 16px 0 0;
  color: #F092DD;
  cursor: pointer;
}
/* line 44, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 24px;
}
/* line 50, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .account-settings-label {
  width: 33%;
  color: #97A7B3;
}
/* line 55, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .current-user {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
/* line 61, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings img {
  display: block;
  border-radius: 50%;
}
/* line 66, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings img:hover {
  cursor: pointer;
}
/* line 70, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .current-user-name {
  width: 33%;
  padding: 5px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 80, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .current-user-name:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 85, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .edit-user-name:hover {
  cursor: text;
}
/* line 89, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/user_profile_modal.scss */
.user-profile-modal-backdrop .user-profile-modal .account-settings .fa {
  margin-left: 9px;
  color: #F092DD;
  font-size: 24px;
}
