/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import url("https://fonts.googleapis.com/css?family=Poppins:200|Roboto:300,400");
/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 56, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  -webkit-rtl-ordering: none;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

/* line 75, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/reset.scss */
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
textarea:focus,
button:focus {
  outline: 0;
}

/* line 19, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.holler {
  text-align: center;
}

/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.logo {
  margin: 0 auto;
}

/* line 30, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.error {
  color: #ff0000;
  text-align: center;
}

/* line 35, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:hover {
  cursor: pointer;
}

/* line 39, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:focus {
  box-shadow: 0 0 1px 2px rgba(255, 109, 169, 0.75);
}

/* line 43, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.fa:active {
  transform: scale(0.98);
  opacity: 0.2;
}

/* line 48, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
.main {
  display: flex;
}

/* line 52, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* line 57, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar {
  width: 0.6em;
}

/* line 61, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar:hover {
  width: 1em;
}

/* line 66, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* line 70, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 76, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/base/globals.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F9B9F2;
}

/* frontend/components/session_form/session_form.jsx */
/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-logo {
  width: 120px;
  height: auto;
}

/* line 8, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-holler {
  font-size: 40px;
  margin-bottom: 24px;
}

/* line 13, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
  background-image: url(https://i.imgur.com/ktvx0p2.jpg);
  background-position: right;
  background-size: cover;
}
/* line 26, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box {
  width: 350px;
  height: auto;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}
/* line 34, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-text {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 24px;
  line-height: 1.2;
}
/* line 41, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-input, .login-form-container .login-form-box .login-button {
  height: 42px;
  width: 80%;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 16px;
  margin: 0 auto 12px auto;
}
/* line 50, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.75);
}
/* line 55, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button {
  color: #FFFFFF;
  background-color: #ff6da9;
  align-items: center;
  transition: 200ms;
  box-sizing: content-box;
}
/* line 63, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:hover {
  background-color: #97A7B3;
  cursor: pointer;
}
/* line 68, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:focus {
  box-shadow: 0 0 1px 2px rgba(255, 109, 169, 0.75);
}
/* line 72, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .login-button:active {
  transform: scale(0.98);
  opacity: 0.2;
}
/* line 77, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .login-form-box .demo {
  margin: 0 auto 24px auto;
}
/* line 84, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .footer {
  margin-left: 15vw;
  width: 350px;
  font-size: 40px;
  color: #97A7B3;
}
/* line 92, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .footer a {
  padding: 0 40px;
}
/* line 96, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/session_form.scss */
.login-form-container .footer a:hover {
  color: #ff6da9;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.main-holler {
  font-size: 16px;
  font-weight: bold;
}

/* line 6, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 22vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 24, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar {
  position: relative;
  margin: 12px;
  color: #97A7B3;
}
/* line 29, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar .fa {
  position: absolute;
  font-size: 12px;
  top: 9px;
  left: 8px;
}
/* line 36, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_column.scss */
.nav-col .search-col .search-bar .search-bar-input {
  display: block;
  width: 100%;
  padding: 0 28px;
  height: 30px;
  background-color: #f6f7f9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* line 13, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .main-holler {
  font: "Roboto";
  font-weight: 400;
}
/* line 18, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar i, .nav-col .nav-bar h2 {
  padding: 10px;
}
/* line 22, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .fa {
  color: #F092DD;
  font-size: 24px;
}
/* line 27, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown {
  display: none;
  position: absolute;
  top: 49px;
  left: 3px;
  padding: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  width: 11vw;
  min-width: 80px;
  line-height: 1.28;
  z-index: 1;
  font-size: 14px;
}
/* line 43, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown li {
  padding: 2px 24px;
  cursor: pointer;
}
/* line 48, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .nav-bar-dropdown li:hover {
  color: #FFFFFF;
  background-color: #ff6da9;
}
/* line 54, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/nav_bar.scss */
.nav-col .nav-bar .extended {
  display: block;
}

/* line 2, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col {
  overflow: scroll;
}
/* line 7, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item {
  height: 64px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
/* line 18, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-pic {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 9px;
}
/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 30, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body .conversation-list-item-convo-name {
  font-weight: bolder;
  line-height: 1.4;
}
/* line 35, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .conversation-list-item .conversation-list-item-body .conversation-list-item-body {
  height: 18px;
  font-size: 13px;
  color: #999999;
}
/* line 43, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/nav_column/message_list.scss */
.nav-col .search-col .conversation-list .active, .nav-col .search-col .conversation-list .conversation-list-item:hover {
  background-color: #e9ebee;
}

/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar {
  padding: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}
/* line 14, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .search-bar-to {
  margin-right: 5px;
  font-size: 14px;
}
/* line 26, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-bar .search-bar-input {
  font-size: 14px;
  font-weight: lighter;
  flex-grow: 1;
  padding: 0 8px;
}
/* line 37, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results {
  padding-top: 8px;
  overflow: scroll;
}
/* line 41, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 8px 32px;
}
/* line 47, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
/* line 55, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/new_conversation.scss */
.new-conversation .search-users-results li:hover {
  background-color: #f1f0f0;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/chat_main.scss */
.chat-main {
  flex-grow: 1;
  height: 100vh;
}
/* line 5, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/chat_main.scss */
.chat-main .chat-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar {
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
/* line 13, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-name {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
/* line 19, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons {
  padding: 10px;
}
/* line 25, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons .fa {
  color: #F092DD;
  font-size: 24px;
}
/* line 30, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_bar.scss */
.friend-bar .friend-bar-icons .fa:hover {
  color: #ff6da9;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.chat-view {
  display: flex;
  flex: 1;
}
/* line 5, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.chat-view .chat-view-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* line 11, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat {
  flex: 1;
  padding: 12px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 18, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg {
  margin-bottom: 15px;
  border: 1px solid #f1f0f0;
  border-radius: 1.3em;
}
/* line 24, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-pic {
  width: 28px;
  height: 28px;
  display: float;
  border-radius: 50%;
}
/* line 33, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left {
  margin-right: 50%;
  margin-left: 36px;
  float: left;
  text-align: left;
  background-color: #f1f0f0;
  position: relative;
}
/* line 41, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .right {
  display: none;
}
/* line 45, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-left .chat-msg-pic {
  left: -32px;
  position: absolute;
  bottom: 0;
}
/* line 52, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right {
  margin-left: 50%;
  margin-right: 36px;
  float: right;
  text-align: right;
  background-color: #ff6da9;
  color: #FFFFFF;
  position: relative;
}
/* line 66, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .left {
  display: none;
}
/* line 70, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-align-right .chat-msg-pic {
  position: absolute;
  right: -32px;
  bottom: 0;
}
/* line 77, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.live-chat .chat-msg-body {
  padding: 6px 12px;
}

/* line 85, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form {
  display: flex;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 91, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form textarea {
  font-size: 14px;
  font-weight: lighter;
  resize: none;
  flex-grow: 1;
  padding: 10px;
}
/* line 101, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 106, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons .fa {
  padding: 10px;
  color: #F092DD;
  font-size: 24px;
}
/* line 112, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form .fun-icons .fa:hover {
  color: #ff6da9;
}
/* line 117, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/message_view.scss */
.message-form button {
  font-weight: 400;
  font-size: 16px;
  color: #ff6da9;
  min-width: 33px;
  padding: 10px;
}

/* line 2, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details {
  width: 22vw;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
}
/* line 8, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 64px;
  padding: 16px 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: sticky;
  top: 50px;
  background-color: #FFFFFF;
}
/* line 23, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header img {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 9px;
}
/* line 30, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-header .friend-details-convo-name {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 40, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 64px;
  padding: 16px 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  color: #F092DD;
  position: sticky;
  top: 114px;
  background-color: #FFFFFF;
}
/* line 53, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links a {
  padding: 5px;
  border-radius: 5px;
}
/* line 58, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .annie-links a:hover {
  color: #ff6da9;
}
/* line 63, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
/* line 69, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users .friend-details-users-label {
  width: auto;
  height: 20px;
  padding: 14px;
  color: #97A7B3;
}
/* line 76, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 81, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/chat_page/friend_details.scss */
.chat-view .friend-details .friend-details-users li img {
  width: 50px;
  height: 50px;
  margin: 6px 12px;
  border-radius: 50%;
}

/* line 3, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container {
  overflow: hidden;
  align-items: center;
  width: 55vw;
}
/* line 9, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search {
  position: relative;
  margin: 12px;
  color: #97A7B3;
}
/* line 15, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa {
  position: absolute;
  top: 9px;
  font-size: 12px;
}
/* line 21, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa-search {
  font-size: 12px;
  left: 8px;
}
/* line 28, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .giphy-search-input {
  display: block;
  width: 100%;
  padding: 0 28px;
  height: 30px;
  background-color: #f6f7f9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 40, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa-plus, .giphy-container .giphy-search .fa-times-circle {
  color: #F092DD;
  font-size: 14px;
}
/* line 45, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa-plus {
  right: 27px;
}
/* line 49, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa-times-circle {
  right: 8px;
}
/* line 53, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .giphy-search .fa-plus:hover, .giphy-container .giphy-search .fa-times-circle:hover {
  color: #ff6da9;
}
/* line 59, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .display-giphys {
  display: flex;
  max-width: 100%;
  flex-direction: col;
  overflow: scroll;
  overflow-y: hidden;
  height: 150px;
}
/* line 67, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
.giphy-container .display-giphys li img {
  height: 100%;
  width: auto;
  padding: 3px;
}

/* line 75, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/giphys.scss */
body {
  max-width: 100vw;
}

/* line 1, /Users/anniegu/Documents/appAcademy/Bootcamp/aA-fullstack-messenger/Holler/app/assets/stylesheets/styles/footer.scss */
.footer {
  z-index: 1;
}
