@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// USAGE:
// input,  
// textarea {  
//     @include input-placeholder {
//         color: $grey;
//     }
// }

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// USAGE:
// div::after {
//     @include pseudo;
//     top: -1rem; left: -1rem;
//     width: 1rem; height: 1rem;
// }

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hover-scrollbar($width: 9px) {
  &:hover {
    &::-webkit-scrollbar {
        width: $width;
    }
  }
}

@mixin transition($arg) {
    -webkit-transition: $arg;
    transition: $arg;
}