@import url("https://fonts.googleapis.com/css?family=Poppins:200|Roboto:300,400");

$boxBorder: rgba(0,0,0,0.2);
$blue: #0084ff;
$lightpink: #F9B9F2;
$pink: #ff6da9;
$magenta: #F092DD;
// $gray: #c0c0c0;
$darkgrey: #97A7B3;
$expressionsHoverGrey: #f5f6f7;
$grey: #f1f0f0;
$white: #ffffff;
$black: #000000;
$hoverBackground: #e9ebee;
$fontPoppins200: 'Poppins';
$fontRoboto: 'Roboto';
// $fontSizeMain: 13px;
$fontSizeMain: 14px;
$fontSizeH3: 16px;
$fontSizeH2: 24px;
$fontSizeH1: 30px;
$fontSizeXL: 40px;

.holler {
  text-align: center;
  // font-family: $fontPoppins200;
  // font-weight: 300px;
}

.logo {
  margin: 0 auto;
  // justify-content: center;
}

.error {
  color: #ff0000;
  text-align: center;
}

.fa:hover {
  cursor: pointer;
}

.fa:focus {
  box-shadow: 0 0 1px 2px rgba(255,109,169,0.75)
}

.fa:active {
  transform: scale(0.98);
  opacity: 0.2;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: $fontRoboto, sans-serif;
  font-weight: lighter;
}

::-webkit-scrollbar {
  // width: 0.6em;
  // width: 0px;
}

::-webkit-scrollbar:hover {
  // width: 1em;
}

::-webkit-scrollbar-track {
  // border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  // background-color: $boxBorder;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // background-color: $lightpink;
  // background-color: blue;
  // @include transition(background-color 0.1s ease);
}

#file, #user-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
