@import url(https://fonts.googleapis.com/css?family=Poppins:200|Roboto);

// $inputBoxBorder: rgba(0,0,0,0.2);
$boxBorder: rgba(0,0,0,0.2);
$blue: #0084ff;
$pink: #ff6da9;
$hoverBackground: #e9ebee;
$fontPoppins200: 'Poppins';
$fontSizeMain: 13px;
$fontSizeH3: 16px;
$fontSizeH2: 24px;
$fontSizeH1: 40px;

.holler {
  text-align: center;
  // font-family: $fontPoppins200;
  // font-weight: 300px;
}

.logo {
  margin: 0 auto;
  // justify-content: center;
}

.error {
  color: #ff0000;
  text-align: center;
}

.fa:hover {
  cursor: pointer;
}

body {
  font-family: $fontPoppins200, sans-serif;
}
