//giphys.jsx

.giphy-container {
  // border-top: 1px solid $boxBorder;
  overflow: hidden;
  align-items: center;
  width: 55vw;

  .giphy-search {
    position: relative;
    margin: 12px;
    color: $darkgrey;
    // width: 100%;

    .fa {
      position: absolute;
      top: 9px;
      font-size: 12px;
    }

    .fa-search {
      // position: absolute;
      font-size: 12px;
      // top: 9px;
      left: 8px;
    }

    .giphy-search-input {
      display: block;
      width: 100%;
      // flex: 1;
      padding: 0 28px;
      height: 30px;
      background-color: #f6f7f9;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: $fontSizeMain;
    }

    .fa-plus, .fa-times-circle {
      color: $magenta;
      font-size: $fontSizeMain;
    }

    .fa-plus {
      right: 27px;
    }

    .fa-times-circle {
      right: 8px;
    }

    .fa-plus:hover, .fa-times-circle:hover {
      color: $pink;
    }
  }


  .display-giphys {
    display: flex;
    max-width: 100%;
    flex-direction: col;
    overflow: scroll;
    overflow-y: hidden;
    height: 150px;

    li img{
      height: 100%;
      width: auto;
      padding: 3px;
    }
  }
}

body {
  max-width: 100vw;
}
