.expressions-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  bottom: 50px;
  padding: 1px 0;
  align-items: center;

  .expressions-search {
    position: relative;
    width: 100%;
    padding: 5px;
    color: $darkgrey;

    .fa {
      position: absolute;
      font-size: 12px;
    }

    .fa-search {
      top: 4px;
    }

    .expressions-search-input {
      display: block;
      width: 100%;
      padding: 0 28px;
      height: 30px;
      background-color: #f6f7f9;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: $fontSizeMain;
    }

    .fa-plus, .fa-times-circle {
      top: 3px;
      color: $magenta;
      font-size: $fontSizeMain;
    }

    .fa-plus {
      right: 27px;
    }

    .fa-times-circle {
      right: 8px;
    }

    .fa-plus:hover, .fa-times-circle:hover {
      color: $pink;
    }
  }


  .display-expressions {
    flex: 1;
    max-width: 100%;
    overflow: hidden scroll;
    height: 150px;

    li img {
      width: 100%;
      padding: 1px 2px;
      cursor: pointer;
    }
  }

  &.extended:before {
    // left: 12px;
    bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $boxBorder;

  }

  &.extended:after {
    // left: 13px;
    bottom: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $white;
  }
  
  &.sticky {
    &.extended:before {
      left: 12px;
    }
    
    &.extended:after {
      left: 13px;
    }
  }

  &.giphy {
    &.extended:before {
      left: 53px;
    }

    &.extended:after {
      left: 54px;
    }
  }
}

body {
  max-width: 100vw;
}
