/* frontend/components/session_form/session_form.jsx */

// .login-logo {
//   width: 120px;
//   height: auto;
// }

.main-holler {
  font-size: $fontSizeH3;
  font-weight: bold;
}

.nav-col {
  // border: 1px solid red;
  border-right: 1px solid $boxBorder;
  width: 22vw;
  // max-width: 300px;
  height: 100vh;
  // background-color: green;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // line-height: 1.2;

  .nav-bar {
    border-bottom: 1px solid $boxBorder; // get rid of later
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .main-holler {
      font: $fontRoboto;
      font-weight: 400;
    }

    i, h2 {
      padding: 8px;
    }

    .fa {
      color: $blue;
      font-size: $fontSizeH2;
    }
  }

  .message-list {


    .message-list-item {
      height: 64px;
      padding-left: 12px;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      // border-bottom: 1px solid $boxBorder;

      .message-list-item-pic {
        display: block;
        height: 50px;
        width: 50px;
        margin-right: 9px;
      }

      .message-list-item-body {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .message-list-item-convo-name {
          font-weight: bolder;
          line-height: 1.4;
        }

        .message-list-item-body {
          height: 18px;
          font-size: 13px;
          color: rgba(153, 153, 153, 1);
        }
      }
    }

    .active, .message-list-item:hover {
      background-color: $hoverBackground;
    }
  }
}
