$beforeXPosition: 12px;
$afterXPosition: 13px;
$beforeYPosition: -8px;
$afterYPosition: -7px;
$beforeThickness: 8px;
$afterThickness: 7px;

.popover {
    visibility: hidden;
    position: absolute;
    background-color: $white;
    border: 1px solid $boxBorder;
    border-radius: 3px;
    box-shadow: 0 3px 8px $boxBorder;
    line-height: 1.28;
    z-index: 1;
    font-size: 14px;

    &.extended {
        visibility: visible;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
        }
        
        &.caret-top-left, &.caret-top-right {
            &:before {
                top: $beforeYPosition;
                border-left: $beforeThickness solid transparent;
                border-right: $beforeThickness solid transparent;
                border-bottom: $beforeThickness solid $boxBorder;
            }

            &:after {
                top: $afterYPosition;
                border-left: $afterThickness solid transparent;
                border-right: $afterThickness solid transparent;
                border-bottom: $afterThickness solid $white;
            }
        }
        
        &.caret-top-left {
            &:before {
                left: $beforeXPosition;
            }

            &:after {
                left: $afterXPosition;
            }
        }
        
        &.caret-top-right {
            &:before {
                right: $beforeXPosition;
            }

            &:after {
                right: $afterXPosition;
            }
        }
        
        &.caret-bottom-left, &.caret-bottom-right {
            &:before {
                bottom: $beforeYPosition;
                border-left: $beforeThickness solid transparent;
                border-right: $beforeThickness solid transparent;
                border-top: $beforeThickness solid $boxBorder;
            }

            &:after {
                bottom: $afterYPosition;
                border-left: $afterThickness solid transparent;
                border-right: $afterThickness solid transparent;
                border-top: $afterThickness solid $white;
            }
        }
        
        &.caret-bottom-left {
            &:before {
                left: $beforeXPosition;
            }

            &:after {
                left: $afterXPosition;
            }
        }
        
        &.caret-bottom-right {
            &:before {
                right: $beforeXPosition;
            }

            &:after {
                right: $afterXPosition;
            }
        }

    }
}