.nav-col {
  .search-col {
    overflow: scroll;
    // min-width: 250px;
    .conversation-list {
      // position: relative;
      .conversation-list-item {
        height: 64px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        // min-width: 250px;
        // position: absolute;
        // border-bottom: 1px solid $boxBorder;

        .conversation-list-item-pic {
          display: block;
          height: 50px;
          width: 50px;
          margin-right: 9px;
          border-radius: 50%;
        }

        .conversation-list-item-body {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .conversation-list-item-convo-name {
            font-weight: bolder;
            line-height: 1.4;
          }

          .conversation-list-item-body {
            height: 18px;
            font-size: 13px;
            color: rgba(153, 153, 153, 1);
          }
        }
      }

      .active, .conversation-list-item:hover {
        background-color: $hoverBackground;
      }
    }
  }
}
