.main-holler {
  font-size: $fontSizeH3;
  font-weight: bold;
}

.nav-col {
  border-right: 1px solid $boxBorder;
  width: 22vw;
  min-width: 22vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .search-col {
    .search-bar {
      position: relative;
      margin: 12px;
      color: $darkgrey;

      .fa {
        position: absolute;
        font-size: 12px;
        top: 9px;
        left: 8px;
      }

      .search-bar-input {
        display: block;
        width: 100%;
        padding: 0 28px;
        height: 30px;
        background-color: #f6f7f9;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: $fontSizeMain;
      }

    }

    .conversation-list {
    }
  }
}
