.nav-col {

  .nav-bar {
    border-bottom: 1px solid $boxBorder; // get rid of later
    box-sizing: border-box;
    height: 50px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .main-holler {
      font: $fontRoboto;
      font-weight: 400;
    }

    i, h2 {
      padding: 10px;
    }

    .fa {
      color: $magenta;
      font-size: $fontSizeH2;
    }

    .nav-bar-dropdown {
      display: none;
      position: absolute;
      top: 49px;
      left: 3px;
      padding: 5px 0;
      background-color: #FFFFFF;
      border: 1px solid $boxBorder;
      border-radius: 3px;
      box-shadow: 0 3px 8px $boxBorder;
      width: 11vw;
      min-width: 80px;
      line-height: 1.28;
      z-index: 1;
      font-size: 14px;

      li {
        padding: 2px 24px;
        cursor: pointer;
      }

      li:hover {
        color: #FFFFFF;
        background-color: $pink;
      }
    }

    .extended {
      display: block;
    }
  }
}
