.main-holler {
  font-size: $fontSizeH3;
  font-weight: bold;
}

.nav-col {
  // border: 1px solid red;
  border-right: 1px solid $boxBorder;
  width: 22vw;
  // min-width: 250px;
  // position: fixed;
  // max-width: 300px;
  height: 100vh;
  // background-color: green;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // line-height: 1.2;

  .search-col {
    // display: flex;
    // flex-direction: column;

    .search-bar {
      position: relative;
      margin: 12px;
      color: $darkgrey;

      .fa {
        position: absolute;
        font-size: 12px;
        top: 9px;
        left: 8px;
      }

      .search-bar-input {
        display: block;
        width: 100%;
        padding: 0 28px;
        height: 30px;
        background-color: #f6f7f9;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: $fontSizeMain;
      }

    }

    .conversation-list {

    }
  }
}
