.nav-col {

  .nav-bar {
    border-bottom: 1px solid $boxBorder; // get rid of later
    box-sizing: border-box;
    height: 50px;
    min-height: 50px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .main-holler {
      font: $fontRoboto;
      font-weight: 400;
    }

    i, h2 {
      padding: 10px;
    }

    .fa {
      color: $magenta;
      font-size: $fontSizeH2;
    }

    .nav-bar-dropdown {
      top: 49px;
      left: 3px;
      padding: 5px 0;
      width: 11vw;
      min-width: 80px;
      
      // &.extended:before {
      //   left: 12px;
      //   top: -8px;
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid $boxBorder;
      // }

      // &.extended:after {
      //   left: 13px;
      //   top: -7px;
      //   border-left: 7px solid transparent;
      //   border-right: 7px solid transparent;
      //   border-bottom: 7px solid $white;
      // }

      li {
        padding: 2px 24px;
        cursor: pointer;
      }

      li:hover {
        color: #FFFFFF;
        background-color: $pink;
      }
    }

    // .extended {
    //   display: block;
    // }
  }
}
