.main {
  display: flex;
}

.fa:focus {
  box-shadow: 0 0 1px 2px rgba(255,109,169,0.75)
}

.fa:active {
  transform: scale(0.98);
  opacity: 0.2;
}

@import "base/reset.scss";
@import "base/globals.scss";
// @import "base/components.scss";
@import "styles/session_form.scss";
@import "styles/nav_column/nav_column.scss";
@import "styles/chat_page/chat_main.scss";
@import "styles/footer.scss";
